service x88-frontpanel /system/bin/sh /system/bin/x88-frontpanel
    class late_start
    user root
    group root system
    disabled
    seclabel u:r:shell:s0

service x88-remote /system/bin/sh /system/bin/x88-remote
    class late_start
    user root
    group root input shell system
    disabled
    seclabel u:r:shell:s0

on property:sys.boot_completed=1
    start x88-frontpanel
    start x88-remote
